*{
    box-sizing: border-box;
}

:root {
    --primary-color: #449efe;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

.header__title {
    margin: 3rem 0 3rem 1.5rem;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    color: #888888;
}