.header{
    text-align: center;
    font-size: 30px;
    margin-left: 0;
    margin-right: 0;
}

.content{
    width: 100%;
    background-color: rgb(250 250 250);
    margin-left: 0;
    margin-right: 0;
}

.content__left{
    border: 2px solid rgb(243, 243, 243);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    margin-bottom: 20px;
    
}

.content__right{
    border: 2px solid rgb(243, 243, 243);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    margin-bottom: 20px;
}

.odd{
    background: #f5fcff;
    padding: 10px;
}

.even{
    border-radius: 5px;
    background: rgb(255, 255, 255);
    padding: 10px;
}

.content__right--img{
    width: 180px;
    height: 235px;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 30%;
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.btn-save{  
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-primary{
    font-size: 15px;
    padding: 10px;
}

.form-group__text{
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

.form-group__name{
    font-size: 15px;
    padding: 5px;
}

.even .form-control:disabled {
    background: rgb(255, 255, 255);
    border: none;
}

.odd .form-control:disabled {
    background: #f5fcff;
    border: none;
}