html {
    height: 60rem;
    width: 120rem;
}


body {
    min-height: 60rem;
}
.header {
    margin: 2rem 0;
}
    
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin: 2rem 0;
}

.form__content {
    width: 60%;
    font-size: 2rem;
}

.form-control {
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 1.5rem;
}

.btn-change-password {
    min-width: 13rem;
    font-size: 1.6rem;
    padding: 1.2rem;
    float: right;
}