*{
    margin: 0;
    padding: 0;
}
.img{
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.hinh{
    width: 180px;
    height: 235px;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 30%;
}
.text{
    font-size: 15px;
    font-weight: bold;
}

.bbb{
    background: #f5fcff;
}
.aaaaa{
    border-radius: 5px;
    background: rgb(28, 153, 243);
}

.khung{
    width: 100%;
    background-color: rgb(250 250 250);
}
.khung2{
    width: 100%;
    border: 2px solid rgb(243, 243, 243);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-left: 180px;
    margin-bottom: 20px;
}
.khung3{
    width: 100%;
    border: 2px solid rgb(243, 243, 243);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}
.luu{
    margin-right: 10px;
    margin-bottom: 10px;
}
.aaaa{
    margin-top: 10px;
}
.col-md-12 h2{
    text-align: center;
}