*{
    margin: 0;
    padding: 0;
}

.header{
    margin: 3rem 0 3rem 1.5rem;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  color: #888888;
  margin-left: 0;
  margin-right: 0;
}

.col-2__select--choice{
    margin-top: 3%;
    border-radius: 5px;
    font-size: 15px;
}
.col-10__detail--text{
    display: inline-block;
    font-size: 15px;
    padding:10px;
}
.text_col-10__detail--text{
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
}
i{
    font-style: italic;
    font-size: 15px;
}
.col-12__content p{
    word-wrap: break-word;
}
.col-2__member{
    /* border: 2px solid rgb(243, 243, 243); */
    border-radius: 5px;
    /* background-color: rgb(255, 255, 255); */
    margin-left: 50px;
    margin-bottom: 20px;
}
.col-10__detail{
    margin-left: 50px;
}
.col-8__content{
    /* border: 2px solid rgb(243, 243, 243); */
    border-radius: 5px;
    /* background-color: rgb(255, 255, 255); */
    margin-left: 80px;
    margin-bottom: 20px;
}
.row__detail{
    /* border: 2px solid rgb(243, 243, 243); */
    border-radius: 5px;
    /* background-color: rgb(255, 255, 255); */
    margin-left: 0;
    margin-right: 0;

}
.col-10__detail--name{
    font-size: 20px;
    font-weight: 500;
}
.col-8__content--fix,.col-8__content--save{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100px;
    font-size: 15px;
}
.col-10__detail--member>P{
    font-size: 15px;
    padding: 10px 0;
    font-weight: 0;
}


.form-group__text{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;

}

textarea{
    font-size: 15px;
}

.content{
    margin-left: 0;
    margin-right: 0;
}